@import url("http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");


body {
	background-color: #172933;
}

.container {
	padding: 0px 50px 20px 50px;
	background-color: white;
	width: 800px;
}

#heading {
	background-color: #172933;
	
}

.page-header {
	border-bottom-width: 0;
	color: white;
	font-family: "deadfamily", Georgia, Serif;
	height: 125px;
	background: url(../images/header.png) no-repeat;
	background-position: center;
}

.page-header h1 {
	font-size: 5em;
	text-indent : -9999px; 
}

#description h1{
	color: #5ddfbc;
	font-size: 64px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.form-control {
	border-radius: 0;
}

/* RESULTS PAGE */
#results {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding: 0px 50px 20px 50px;
	margin: auto;
	width: 800px;
}

#results h1{
	color:white;
}

.user {
	padding: 5px;
	background-color: white;
}

.user h3 {
	margin-top: 10px;
}

#mock {
	height: 271px;
	width: 800px;
	background: url(../images/results.png) no-repeat;
	background-position: center;
  margin: auto;
}

#sponsors {
	padding-top: 200px;
	height: 152px;
	width: 800px;
	background: url(../images/resultpage_sponsorship.png) no-repeat;
	background-position: bottom;
  margin: auto;
}

#locksmith {
	padding-top: 800px;
	height: 349px;
	width: 241px;
	background: url(../images/locksmith.png) no-repeat;
	background-position: bottom;
  margin: auto;
}

#brought_to_you_by {
	padding-top: 800px;
	height: 142px;
	width: 178px;
	background: url(../images/brought_to_you_by.png) no-repeat;
	background-position: bottom;
  margin: auto;
}